
.login{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 60vw;
    height: 60vh;
    display: flex;
    margin-bottom: 8vh;
}

.loginLeft{
    flex: 5;
    display: flex;
    flex-direction: column;
    margin-right: 1vw;
    margin-bottom: 4vh;
    justify-content: center;
}
.loginRight{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 96px;
    font-weight: bolder;
    color: #ff4486;
}

.loginDesc{
    font-size: 45px;
}

.loginBox{
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin-bottom: 5vh;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    border: 1px double #7a7a7a;
    border-radius: 8px;
    padding: 15px;
    font-size: 25px;
    margin: 5px 0;
}

.loginInput:focus{
    border: none;
}

.loginButton{
    border: none;
    border-radius: 8px;
    padding: 15px;
    margin: 5px 0;
    background-color: #ff5390;
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.loginForgot{
    color: #ff5390;
    text-align: center;
    padding: 1vh;
    font-size: 20px;
    font-weight: 500;
}

.loginHr{
    margin: 1vh 0 2vh 0;
    opacity: 50%;
}

.loginRegisterBtn{
    border: none;
    border-radius: 8px;
    padding: 15px;
    margin-left: 15%;
    width: 70%;
    background-color: #43dc43;
    color: white;
    font-size: 22px;
    font-weight: 500;
}